@import "tailwindcss";

@theme {
    --color-customBlack-100: #1E1F22; /* default background */
    --color-customBlack-200: #25262A;
    --color-customBlack-300: #2B2D31;
    --color-customBlack-400: #2F3135;
    --color-customBlack-500: #323439;
    --color-customBlack-600: #383A40;
    --color-customBlack-700: #4A4C51;

    --color-customGray-100: #4E5058;
    --color-customGray-200: #5E6068;
    --color-customGray-300: #6D6F78;
    --color-customGray-400: #8F939B;
    --color-customGray-500: #B1B7BE;

    --color-customBlue: #2c3947;

    --color-customText: #EBEBEB;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@layer utilities {
    .custom-quill .ql-container {
        border: 0 solid theme('colors.customGray.100') !important;
    }

    .custom-quill .ql-editor {
        padding: 0 !important;
    }

    .ql-editor.ql-blank::before {
        color: theme('colors.customGray.300') !important
    }

    .custom-quill .ql-toolbar {
        border: 0 solid theme('colors.customGray.100') !important;
    }
}
