@import "tailwindcss";

@theme {
    --color-customBlack-100: #1E1F22;
    --color-customBlack-200: #25262A;
    --color-customBlack-300: #2B2D31;
    --color-customBlack-400: #2F3135; /* default background */
    --color-customBlack-500: #323439;
    --color-customBlack-600: #383A40;
    --color-customBlack-700: #4A4C51;

    --color-customGray-100: #4E5058;
    --color-customGray-200: #5E6068;
    --color-customGray-300: #6D6F78;
    --color-customGray-400: #8F939B;
    --color-customGray-500: #B1B7BE;

    --color-customText: #EBEBEB;
}